<div class="container mx-auto">
  <h1 class="text-2xl md:text-4xl text-[#00b4e6] font-bold text-center py-10">
    DEPRESION
  </h1>
  <div class="flex justify-center space-x-2">
    <a
      routerLink="/blog"
      class="border border-[#00b4e6] text-[#00b4e6] hover:cursor-pointer px-4 py-2 rounded-md transition duration-300 ease-in-out hover:bg-[#00b4e6] hover:text-white"
    >
      Blog
    </a>
    <a
      routerLink="/blog/depresion"
      class="border border-[#00b4e6] text-[#00b4e6] hover:cursor-pointer px-4 py-2 rounded-md transition duration-300 ease-in-out hover:bg-[#00b4e6] hover:text-white"
    >
      Depresión
    </a>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 p-4">
    <div class="p-6">
      <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
        <img
          class="w-full h-48 object-cover"
          src="assets/images/blog/imagen1.jpg"
          alt="Imagen de ejemplo"
        />
        <div class="px-6 py-4">
          <div class="flex items-center text-gray-500 text-sm mb-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-1"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M6 2a1 1 0 000 2h8a1 1 0 100-2H6zM4 5a2 2 0 00-2 2v11a2 2 0 002 2h12a2 2 0 002-2V7a2 2 0 00-2-2H4zm10 2a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"
              />
            </svg>
            <span>19 Abr 2024 </span>
          </div>
          <div class="font-bold text-xl mb-2 text-gray-800">
            Lorem ipsum dolor sit amet
          </div>
          <p class="text-gray-600 text-base">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel
            metus ut arcu sodales interdum. Curabitur facilisis lacus a nulla
            porttitor, a lacinia est congue. Phasellus ut felis erat.
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas.
          </p>
        </div>
      </div>
    </div>
    <div class="p-6">
      <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
        <img
          class="w-full h-48 object-cover"
          src="assets/images/blog/imagen5.jpg"
          alt="Imagen de ejemplo"
        />
        <div class="px-6 py-4">
          <div class="flex items-center text-gray-500 text-sm mb-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-1"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M6 2a1 1 0 000 2h8a1 1 0 100-2H6zM4 5a2 2 0 00-2 2v11a2 2 0 002 2h12a2 2 0 002-2V7a2 2 0 00-2-2H4zm10 2a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"
              />
            </svg>
            <span>19 Abr 2024</span>
          </div>
          <div class="font-bold text-xl mb-2 text-gray-800">
            Lorem ipsum dolor sit amet
          </div>
          <p class="text-gray-600 text-base">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel
            metus ut arcu sodales interdum. Curabitur facilisis lacus a nulla
            porttitor, a lacinia est congue. Phasellus ut felis erat.
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas.
          </p>
        </div>
      </div>
    </div>
    <div class="p-6">
      <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
        <img
          class="w-full h-48 object-cover"
          src="assets/images/blog/imagen6.jpg"
          alt="Imagen de ejemplo"
        />
        <div class="px-6 py-4">
          <div class="flex items-center text-gray-500 text-sm mb-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-1"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M6 2a1 1 0 000 2h8a1 1 0 100-2H6zM4 5a2 2 0 00-2 2v11a2 2 0 002 2h12a2 2 0 002-2V7a2 2 0 00-2-2H4zm10 2a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"
              />
            </svg>
            <span>19 Abr 2024 </span>
          </div>
          <div class="font-bold text-xl mb-2 text-gray-800">
            Lorem ipsum dolor sit amet
          </div>
          <p class="text-gray-600 text-base">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel
            metus ut arcu sodales interdum. Curabitur facilisis lacus a nulla
            porttitor, a lacinia est congue. Phasellus ut felis erat.
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas.
          </p>
        </div>
      </div>
    </div>
    <div class="p-6">
      <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
        <img
          class="w-full h-48 object-cover"
          src="assets/images/blog/imagen7.jpg"
          alt="Imagen de ejemplo"
        />
        <div class="px-6 py-4">
          <div class="flex items-center text-gray-500 text-sm mb-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-1"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M6 2a1 1 0 000 2h8a1 1 0 100-2H6zM4 5a2 2 0 00-2 2v11a2 2 0 002 2h12a2 2 0 002-2V7a2 2 0 00-2-2H4zm10 2a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"
              />
            </svg>
            <span>19 Abr 2024</span>
          </div>
          <div class="font-bold text-xl mb-2 text-gray-800">
            Lorem ipsum dolor sit amet
          </div>
          <p class="text-gray-600 text-base">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel
            metus ut arcu sodales interdum. Curabitur facilisis lacus a nulla
            porttitor, a lacinia est congue. Phasellus ut felis erat.
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas.
          </p>
        </div>
      </div>
    </div>
    <div class="p-6">
      <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
        <img
          class="w-full h-48 object-cover"
          src="assets/images/blog/imagen8.jpg"
          alt="Imagen de ejemplo"
        />
        <div class="px-6 py-4">
          <div class="flex items-center text-gray-500 text-sm mb-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-1"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M6 2a1 1 0 000 2h8a1 1 0 100-2H6zM4 5a2 2 0 00-2 2v11a2 2 0 002 2h12a2 2 0 002-2V7a2 2 0 00-2-2H4zm10 2a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"
              />
            </svg>
            <span>19 Abr 2024</span>
          </div>
          <div class="font-bold text-xl mb-2 text-gray-800">
            Lorem ipsum dolor sit amet
          </div>
          <p class="text-gray-600 text-base">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel
            metus ut arcu sodales interdum. Curabitur facilisis lacus a nulla
            porttitor, a lacinia est congue. Phasellus ut felis erat.
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas.
          </p>
        </div>
      </div>
    </div>
    <div class="p-6">
      <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
        <img
          class="w-full h-48 object-cover"
          src="assets/images/blog/imagen4.jpg"
          alt="Imagen de ejemplo"
        />
        <div class="px-6 py-4">
          <div class="flex items-center text-gray-500 text-sm mb-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-1"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M6 2a1 1 0 000 2h8a1 1 0 100-2H6zM4 5a2 2 0 00-2 2v11a2 2 0 002 2h12a2 2 0 002-2V7a2 2 0 00-2-2H4zm10 2a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd"
              />
            </svg>
            <span>19 Abr 2024</span>
          </div>
          <div class="font-bold text-xl mb-2 text-gray-800">
            Lorem ipsum dolor sit amet
          </div>
          <p class="text-gray-600 text-base">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel
            metus ut arcu sodales interdum. Curabitur facilisis lacus a nulla
            porttitor, a lacinia est congue. Phasellus ut felis erat.
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
