<div class="relative z-1">
  <div class="container mx-auto max-w-7xl">
    <!-- <app-card-2></app-card-2> -->
    <!-- <app-slick-carousel></app-slick-carousel> -->
    <app-feature-2></app-feature-2>

    <div class="right-[2%] bottom-[47%] absolute -z-1 hidden lg:inline">
      <img
        src="assets/images/float/nube3.png"
        class="animate-float w-40"
        alt="shape"
      />
    </div>
    <div class="left-0 bottom-[15%] absolute -z-1 hidden lg:inline">
      <img
        src="assets/images/float/nube2.png"
        class="animate-float w-40"
        alt="shape"
      />
    </div>
    <app-section-1></app-section-1>
    <app-section-imagenes></app-section-imagenes>
    <app-carousel-owl-2></app-carousel-owl-2>
  </div>
</div>
