<div class="bg-gray-50 py-8">
  <div class="container mx-auto px-4">
    <!-- Grid layout -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Columna 1: Psicoterapia -->
      <div class="rounded-lg overflow-hidden w-full">
        <h3
          class="text-center text-lg md:text-2xl font-bold text-[#01b4e6] p-4"
        >
          PSICOTERAPIA
        </h3>
        <div class="flex justify-center p-5 items-center my-4">
          <img
            src="assets/images/informacion/Kalma-Nuevos-Horarios.png"
            alt="Psicoterapia 1"
            class="object-contain h-full border border-white border-8 rounded-lg shadow-lg"
          />
        </div>
        <div class="flex justify-center p-5 items-center my-4">
          <img
            src="assets/images/informacion/kalma-imagen-2.jpeg"
            alt="Psicoterapia 2"
            class="object-contain h-full border border-white border-8 rounded-lg shadow-lg"
          />
        </div>
      </div>

      <!-- Columna 2: Psiquiatría -->
      <div class="rounded-lg overflow-hidden w-full">
        <h3
          class="text-center text-lg md:text-2xl font-bold text-[#01b4e6] p-4"
        >
          PSIQUIATRÍA
        </h3>
        <div class="flex justify-center p-5 items-center my-4">
          <img
            src="assets/images/informacion/Set-01-2-1024x1024.png"
            alt="Psiquiatría 1"
            class="object-contain h-full border border-white border-8 rounded-lg shadow-lg"
          />
        </div>
        <div class="flex justify-center p-5 items-center my-4">
          <img
            src="assets/images/informacion/Set-01-2-1024x1024.png"
            alt="Psiquiatría 2"
            class="object-contain h-full border border-white border-8 rounded-lg shadow-lg"
          />
        </div>
      </div>

      <!-- Columna 3: Kalma Juniors -->
      <div class="rounded-lg overflow-hidden w-full">
        <h3
          class="text-center text-lg md:text-2xl font-bold text-[#01b4e6] p-4"
        >
          KALMA JUNIORS
        </h3>
        <div class="flex justify-center p-5 items-center my-4">
          <img
            src="assets/images/informacion/Set-01-2-1024x1024.png"
            alt="Kalma Juniors 1"
            class="object-contain h-full border border-white border-8 rounded-lg shadow-lg"
          />
        </div>
        <div class="flex justify-center p-5 items-center my-4">
          <img
            src="assets/images/informacion/Set-01-2-1024x1024.png"
            alt="Kalma Juniors 2"
            class="object-contain h-full border border-white border-8 rounded-lg shadow-lg"
          />
        </div>
      </div>
    </div>
  </div>
</div>
