<h1
  class="text-center font-titulo text-3xl md:text-5xl font-bold text-[#00b4e6] pt-10"
>
  ¿Por qué atenderse en Kalma Perú?
</h1>
<h2
  class="text-center font-subtitulo text-xl md:text-3xl font-bold text-[#c7d323]"
>
  Descubre porque somos tu mejor opción
</h2>
<div class="container font-parrafo font-bold text-gray-400 mx-auto px-4 py-8">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 my-10 gap-4">
    <!-- Primer bloque -->
    <div class="text-center w-[80%]">
      <div
        class="mx-auto w-28 h-28 rounded-full flex items-center justify-center"
      >
        <!-- Icono (puedes usar una imagen o un icono SVG) -->
        <img src="assets/images/features/equipo-multiprofesional.png" alt="" />
      </div>
      <h3 class="mt-4 text-2xl text-center">
        Equipo multiprofesional y Especializado
      </h3>
    </div>

    <!-- Segundo bloque -->
    <div class="text-center w-[80%]">
      <div
        class="mx-auto w-28 h-28 rounded-full flex items-center justify-center"
      >
        <!-- Icono (puedes usar una imagen o un icono SVG) -->
        <img src="assets/images/features/cobertura-especializada.png" alt="" />
      </div>
      <h3 class="mt-4 text-2xl text-center">
        Cobertura especializada a precios accesibles
      </h3>
    </div>

    <!-- Tercer bloque -->
    <div class="text-center w-[80%]">
      <div
        class="mx-auto w-28 h-28 rounded-full flex items-center justify-center"
      >
        <!-- Icono (puedes usar una imagen o un icono SVG) -->
        <img src="assets/images/features/convenios.png" alt="" />
      </div>
      <h3 class="mt-4 text-2xl text-center">
        Convenios con diversas universidades y empresas
      </h3>
    </div>

    <!-- Cuarto bloque -->
    <div class="text-center w-[80%]">
      <div
        class="mx-auto w-28 h-28 rounded-full flex items-center justify-center"
      >
        <!-- Icono (puedes usar una imagen o un icono SVG) -->
        <img src="assets/images/features/especialidades.png" alt="" />
      </div>
      <h3 class="mt-4 text-2xl text-center">
        Especialidades Clínicas y Especialidades Preventivas
      </h3>
    </div>

    <!-- Quinto bloque -->
    <div class="text-center w-[80%]">
      <div
        class="mx-auto w-28 h-28 rounded-full flex items-center justify-center"
      >
        <!-- Icono (puedes usar una imagen o un icono SVG) -->
        <img src="assets/images/features/ayudandote.png" alt="" />
      </div>
      <h3 class="mt-4 text-2xl text-center">Ayudándote, ayudas a los demás</h3>
    </div>

    <!-- Sexto bloque -->
    <div class="text-center w-[80%]">
      <div
        class="mx-auto w-28 h-28 rounded-full flex items-center justify-center"
      >
        <!-- Icono (puedes usar una imagen o un icono SVG) -->
        <img src="assets/images/features/moderno-enfoque.png" alt="" />
      </div>
      <h3 class="mt-4 text-2xl text-center">
        Moderno enfoque cognitivo conductual y enfoque emocional
      </h3>
    </div>
  </div>
</div>
