<div class="container mx-auto py-6">
  <h2 class="text-xl font-bold mb-4">Comentarios</h2>

  <!-- Formulario para agregar un nuevo comentario -->
  <form
    [formGroup]="commentForm"
    (ngSubmit)="submitComment()"
    class="my-10 space-y-4"
  >
    <div>
      <label
        for="nombre_comentarista"
        class="block text-sm font-medium text-gray-700"
        >Nombre</label
      >
      <input
        type="text"
        id="nombre_comentarista"
        formControlName="nombre_comentarista"
        class="mt-1 block w-full border-gray-300 shadow-sm sm:text-sm rounded-md"
        placeholder="Tu nombre"
      />
      <div
        *ngIf="
          commentForm.controls['nombre_comentarista'].invalid &&
          commentForm.controls['nombre_comentarista'].touched
        "
        class="text-red-600 text-sm"
      >
        Nombre es obligatorio.
      </div>
    </div>

    <div>
      <label for="contenido" class="block text-sm font-medium text-gray-700"
        >Comentario</label
      >
      <textarea
        id="contenido"
        formControlName="contenido"
        class="mt-1 block w-full border-gray-300 shadow-sm sm:text-sm rounded-md"
        placeholder="Escribe tu comentario"
      ></textarea>
      <div
        *ngIf="
          commentForm.controls['contenido'].invalid &&
          commentForm.controls['contenido'].touched
        "
        class="text-red-600 text-sm"
      >
        El comentario es obligatorio.
      </div>
    </div>

    <button
      type="submit"
      class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700"
      [disabled]="commentForm.invalid"
    >
      Enviar comentario
    </button>
  </form>

  <!-- Mostrar lista de comentarios -->
  <div
    *ngFor="let comment of comments"
    class="mb-4 border-b border-gray-300 pb-2"
  >
    <p class="font-semibold">{{ comment.nombre_comentarista }}</p>
    <p class="text-gray-700">{{ comment.contenido }}</p>
  </div>
</div>
