<section
  class="relative bg-cover bg-center min-h-screen md:h-auto md:min-h-[50vh]"
  style="background-image: url('assets/images/mision-vision/mision-vision.jpg')"
>
  <div class="absolute inset-0 bg-cyan-700 bg-opacity-60 h-full">
    <div
      class="container mx-auto max-w-7xl px-4 flex flex-col md:flex-row justify-between items-center md:h-full"
    >
      <div
        class="text-white text-center md:text-left p-4 md:w-1/2 md:h-full flex items-center"
      >
        <div>
          <h2 class="text-3xl font-bold mb-4">Visión</h2>
          <p class="text-lg">
            Ser la organización más sólida y referente en el campo de la salud
            mental del Perú, en los campos de la prevención, diagnóstico y
            tratamiento sobre la ansiedad, depresión y problemas emocionales en
            general. Además, ser reconocidos por su tratamiento de calidad a un
            precio accesible para todos, sin discriminación de por medio.
          </p>
        </div>
      </div>
      <div
        class="text-white text-center md:text-left p-4 md:w-1/2 md:h-full flex items-center"
      >
        <div>
          <h2 class="text-3xl font-bold mb-4">Misión</h2>
          <p class="text-lg">
            Brindar un servicio de calidad en la prevención, el diagnóstico y el
            tratamiento sobre temas enfocados hacia la ansiedad, depresión y
            problemas emocionales en general, a toda persona que requiera el
            servicio, sin discriminación de por medio.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
