<div class="container mx-auto max-w-7xl">
  <h1 class="text-2xl md:text-4xl text-[#00b4e6] font-bold text-center py-10">
    BLOG DE PSICOLOGÍA KALMA
  </h1>

  <p
    class="text-xl md:text-2xl text-gray-400 font-bold text-center pb-10 mx-5 md:mx-40"
  >
    El objetivo de nuestro blog es ofrecerte información valiosa y fácil de
    entender sobre psicología, emociones, terapias y el funcionamiento de la
    mente humana. Este es un lugar donde podrás involucrarte, compartir tus
    experiencias e intercambiar ideas con otros.
  </p>

  <app-category-buttons></app-category-buttons>

  <app-post-list></app-post-list>
</div>
