<div class="container mx-auto max-w-7xl">
  <h1 class="text-2xl md:text-4xl text-[#00b4e6] font-bold text-center py-10">
    LOREM IPSUM DOLOR SIT AMET
  </h1>

  <p
    class="text-xl md:text-2xl text-gray-400 font-bold text-center pb-10 mx-5 md:mx-40"
  >
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
  </p>

  <app-category-buttons></app-category-buttons>

  <app-post-list></app-post-list>
</div>
