<footer
  class="md:flex md:items-center md:justify-center bg-white dark:bg-gray-900 w-full"
>
  <div class="md:basis-1/3 ml-14 py-10 md:py-0 sm:m-14 md:ml-24">
    <h2 class="w-80 font-bold text-lg">
      <img src="assets/images/logo/logo.png" alt="" />
    </h2>
    <p>
      Somos Onedigitall S.A.C empresa de capacitaciones y consultoría en
      herramientas digitales, inteligencia de negocio y analítica de datos.
    </p>
  </div>
  <div class="md:basis-1/3 ml-14 py-10 md:py-0 sm:m-14 md:ml-[25%]">
    <ul class="text-gray-500 dark:text-gray-400 font-medium">
      <li class="mb-4">
        <!-- <a routerLink="/" class="hover:underline"
          ><fa-icon class="text-xs" [icon]="faCircle"></fa-icon> INICIO</a
        > -->
      </li>
      <li class="mb-4">
        <!-- <a routerLink="/cursos" class="hover:underline"
          ><fa-icon class="text-xs" [icon]="faCircle"></fa-icon> CURSOS</a
        > -->
      </li>
      <li class="mb-4">
        <!-- <a routerLink="/especialidades" class="hover:underline"
          ><fa-icon class="text-xs" [icon]="faCircle"></fa-icon>
          ESPECIALIDADES</a
        > -->
      </li>
      <li class="mb-4">
        <!-- <a routerLink="/contacto" class="hover:underline"
          ><fa-icon class="text-xs" [icon]="faCircle"></fa-icon> CONTACTO</a
        > -->
      </li>
    </ul>
  </div>
  <div class="md:basis-1/3 ml-14 py-10 md:py-0 sm:m-14 md:ml-80">
    <h2>Mantente en contacto</h2>
    <ul class="text-gray-500 dark:text-gray-400 font-medium">
      <li class="mb-4">
        <a routerLink="/" class=""
          ><!-- <fa-icon
                class="text-[50px] text-blue-500"
                [icon]="faHand"
              ></fa-icon
              > -->
          <i class="fa fa-globe" aria-hidden="true"></i>
          https://onedigitallconsulting.com</a
        >
      </li>
      <li class="mb-4">
        <a routerLink="/cursos" class=""
          ><i class="fa fa-phone" aria-hidden="true"></i> +51 981 557 469</a
        >
      </li>
      <li class="mb-4">
        <a routerLink="/especialidades" class=""
          ><i class="fa fa-envelope" aria-hidden="true"></i>
          info&#64;onedigitallconsulting.com</a
        >
      </li>
      <li>
        <div class="flex justify-center space-x-4 p-4 w-72">
          <a
            class="w-1/5"
            target="_blank"
            href="https://www.facebook.com/ONEDIGITAL.Latam/"
            ><img src="assets/iconos/facebook.png" alt="Imagen 1"
          /></a>
          <a
            class="w-1/5"
            target="_blank"
            href="https://www.linkedin.com/company/77579829/admin/feed/posts/"
            ><img src="assets/iconos/linkedin.png" alt="Imagen 2"
          /></a>
          <a
            class="w-1/5"
            target="_blank"
            href="https://www.youtube.com/@onedigitall"
            ><img src="assets/iconos/youtube.png" alt="Imagen 3"
          /></a>
          <a
            class="w-1/5"
            target="_blank"
            href="https://www.instagram.com/onedigitall.latam/"
            ><img src="assets/iconos/instagram.png" alt="Imagen 4"
          /></a>
          <a class="w-1/5" target="_blank" href="https://wa.pe/onedigital"
            ><img src="assets/iconos/whatsapp.png" alt="Imagen 5"
          /></a>
        </div>
      </li>
    </ul>
  </div>
</footer>
<div
  class="px-4 py-6 bg-gray-100 dark:bg-gray-700 md:flex md:items-center md:justify-center"
>
  <span
    class="text-sm text-gray-500 dark:text-gray-300 sm:text-center md:mx-10"
  >
    Copyright ©2024 ONE DIGITALL CONSULTING. All Rights Reserved.
  </span>
</div>
