<!-- <div class="bg-[#68b6cc]">
  <app-header-1></app-header-1>
</div> -->
<app-menu-motos></app-menu-motos>
<div class="mt-16">
  <nav>
    <div class="relative z-[998]">
      <!-- <app-navbar-dropdown></app-navbar-dropdown> -->
      <!-- <app-navbar-sticky></app-navbar-sticky> -->

      <app-carousel-owl-1></app-carousel-owl-1>
    </div>
  </nav>

  <div class="">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <app-subscribe-1></app-subscribe-1> -->
<app-boton-whatsapp></app-boton-whatsapp>
<app-footer-motos></app-footer-motos>
<!-- <app-footer-simple></app-footer-simple> -->
