<div class="bg-gray-50 py-12 relative z-1">
  <div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <!-- Primera columna -->
      <div
        #animatedElement
        class="opacity-0 transition-opacity duration-1000 bg-gray-200 z-20"
      >
        <img
          class="rounded-lg shadow-lg"
          src="assets/images/sections/imagen_1.jpg"
          alt=""
        />
      </div>

      <!-- Segunda columna -->
      <div
        #animatedElement
        class="opacity-0 transition-opacity duration-1000 bg-gray-200 z-20"
      >
        <img
          class="rounded-lg shadow-lg"
          src="assets/images/sections/imagen_2.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="right-[2%] bottom-[47%] absolute -z-1 hidden lg:inline">
    <img
      src="assets/images/float/nube1.png"
      class="animate-float w-40"
      alt="shape"
    />
  </div>
  <div class="left-0 bottom-[15%] absolute -z-1 hidden lg:inline">
    <img
      src="assets/images/float/nube2.png"
      class="animate-float w-40"
      alt="shape"
    />
  </div>
</div>
