<div class="bg-gray-50 py-12 relative z-1">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 lg:grid-cols-2 items-center">
      <!-- Columna de texto -->
      <div class="p-10 text-center">
        <h2 class="text-4xl text-[#c1c343] font-semibold">
          Atención Psicológica y Psiquiátrica
        </h2>
        <h1 class="text-3xl text-[#0cb7e7] font-bold mt-2">
          Presencial y Virtual
        </h1>
      </div>
      <div class="p-10">
        <p class="mt-4 text-gray-400 w-[80%] text-lg text-justify">
          Contamos con atenciones de forma presencial. Sin embargo, no estamos
          ajenos al uso de la tecnología para comunicarnos con nuestros
          pacientes. Por ello, adicionalmente, contamos con el servicio virtual,
          el cual se realiza a través de
          <span class="font-semibold">videollamadas</span>. Estas son algunas de
          las plataformas que usamos regularmente:
        </p>
        <!-- Columna de íconos -->
        <div class="flex justify-center lg:justify-start my-10">
          <!-- Ícono de WhatsApp -->
          <div class="flex items-center space-x-2">
            <img
              src="assets/images/icons/whatsapp.png"
              alt="WhatsApp"
              class="w-12 h-12"
            />
            <span class="text-xl font-medium text-gray-700">WhatsApp</span>
          </div>
          <!-- Ícono de Google Meet -->
          <div class="flex items-center space-x-2">
            <img
              src="assets/images/icons/logo_meet.png"
              alt="Meet"
              class="w-20 h-12"
            />
            <span class="text-xl font-medium text-gray-700">Meet</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-[2%] bottom-[47%] absolute -z-1 hidden lg:inline">
    <img
      src="assets/images/float/nube2.png"
      class="animate-float w-40"
      alt="shape"
    />
  </div>
  <div class="left-0 bottom-[15%] absolute -z-1 hidden lg:inline">
    <img
      src="assets/images/float/nube1.png"
      class="animate-float w-40"
      alt="shape"
    />
  </div>
</div>
