<div class="bg-gray-50 py-12">
  <div class="container mx-auto max-w-7xl">
    <!-- Título y subtítulo -->
    <div class="mb-8">
      <h1 class="text-3xl md:text-5xl font-bold text-gray-500 text-center">
        Mejorando la <span class="font-bold">calidad de vida</span> de las
        personas desde el 2015
      </h1>
      <p class="text-2xl md:text-3xl text-[#c1c343] mt-2 text-center">
        En convenio con diferentes empresas e instituciones educativas.
      </p>
    </div>

    <!-- Grid layout -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
      <!-- Columna izquierda: Imagen con descripción -->
      <div class="flex flex-col items-center md:items-start shadow-lg">
        <img
          src="assets/images/mision-vision/kalma-capital.jpg"
          alt="Imagen de presentación"
          class="rounded w-full p-10"
        />
        <p class="text-gray-400 text-xl font-bold mt-4">
          Presentación de la Asociación Kalma Perú en el programa de Carlos
          Carlín de Radio Capital.
        </p>
      </div>

      <!-- Columna derecha: Texto descriptivo -->
      <div class="text-2xl pt-10 px-5 md:px-0">
        <p class="text-gray-400 text-justify">
          Somos una asociación cuyo principal objetivo es brindar un soporte de
          calidad a las personas que sufren diferentes trastornos en temas
          especializados de ansiedad, depresión, TLP y problemas asociados.
          Asimismo, otorgamos asesoría a los familiares y entorno mediante
          orientación e información necesaria para proporcionarles herramientas
          de cómo brindar soporte al paciente. Como adicional, se dictan
          asesorías, charlas y seminarios a los profesionales de la salud que
          deseen expandir su conocimiento en este campo en particular.
        </p>
        <p class="text-gray-400 mt-4 text-justify">
          Contamos con un staff de profesionales en los diferentes campos de
          psicología, así como de soporte administrativo. Nuestra asociación
          cuenta con las respectivas autorizaciones para el desempeño de sus
          actividades en el ámbito territorial en el Perú.
        </p>
      </div>
    </div>
  </div>
</div>
